<%= link_to 'Nuevo archivo', new_archivo_path %>

<h2>Lista de archivos</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Date</th>
  </tr>
 
  <% @archivos.each do |archivo| %>
    <tr>
      <td><%= archivo.title %></td>
      <td><%= archivo.filetype %></td>
      <td><%= archivo.datefile %></td>
      <td><%= link_to 'Show', archivo_path(archivo) %></td>
    </tr>
  <% end %>
</table>