<%= button_to "Nuevo Archivo", new_archivo_path, :method => :get %>
<br>
<%= link_to 'Inicio', root_path %>
<br>
<%= link_to "Perfil", current_usuario %>
<br>
<h2>Buscar archivo</h2>
<%= form_tag(archivos_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Buscar Archivos" %>
<%= submit_tag "Buscar" %>
<% end %>

<% if @archivos.present? %>
  
<% else %>
  <p>There are no files containing the term(s) <%= params[:search] %>.</p>
<% end %>

<h2>Lista de archivos</h2>

<table border="1">
  <tr>
    <th>Titulo</th>
    <th>Tipo de Archivo</th>
    <th>Fecha</th>
  </tr>
 
  <% @archivos.each do |archivo| %>
    <tr>
      <td><%= archivo.title %></td>
      <td align="center"><%= archivo.filetype %></td>
      <td><%= archivo.datefile %></td>
      <td><%= link_to 'Detalles', archivo_path(archivo) %></td>
      <td><%= link_to 'Editar', edit_archivo_path(archivo) %></td>
      <td><%= link_to 'Eliminar', archivo_path(archivo),
              method: :delete,
              data: { confirm: '¿Deseas eliminar el arhivo?' } %></td>
    </tr>
  <% end %>
</table>